* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rosybrown;
  color: white;
  width: 100%;
  height: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.logo {
  float: center;
  color: white;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

.barra {
  float: right;
  padding: 20px;
}

.barra li {
  list-style: none;
  font-size: 21px;
}

.barra ul li {
  display: inline-block;
}

.barra a {
  color: white;
  text-decoration: none;
}

.barra a:hover {
  color: #333;
}

.t-p {
  color: #333;
  text-align: left;
  font-style: normal;
  font-size: 28px;
  padding: 15px;
}

h1 {
  color: rosybrown;
  font-style: normal;
  text-align: center;
  font-size: 25px;
}

h2 {
  font-size: 25px;
  color: rosybrown;
  font-style: normal;
  text-align: center;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  font-size: 20px;
  font-style: normal;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-style: normal;
}

h5 {
  font-size: 30px;
  color: rosybrown;
  font-style: normal;
  text-align: left;
  padding-left: 15px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.asesoramientos {
  color: #333;
  font-size: 28px;
  font-style: normal;
  line-height: 350%;
  text-align: left;
  padding: 15px;
}

.mood {
  color: #333;
  font-size: 23px;
  text-align: center;
  font-style: normal;
  background-color: rosybrown;
}

.servicios {
  color: white;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  line-height: 300%;
}

.renders {
  color: #333;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  background-color: rosybrown;
}

p {
  color: rosybrown;
  font-size: 23px;
  text-align: center;
  font-style: normal;
}

.frase {
  text-align: center;
  padding: 10px;
  font-size: 28px;
}

.inspirate {
  padding: 5px;
}

.contacto2 {
  color: #333;
  text-align: left;
  font-size: 25px;
  padding: 10px;
}

.size1 {
  font-size: 20px;
  font-style: normal;
  text-align: center;
}

.imagenp {
  height: 70%;
  width: 100%;
  margin: auto;
  background-position: center;
}

img {
  display: inline-flex;
  padding: 5px;
  margin: auto;
}

.sec {
  width: 100%;
  font-size: 25px;
  background-color: rosybrown;
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
  padding: 5px;
  color: #333;
}

.cont {
  height: auto;
  width: 100%;
}

.cont1, .cont2, .cont3, .cont4 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .cont1, .cont2, .cont3, .cont4 {
    height: auto;
    width: auto;
    flex-direction: column;
  }
}

.container5 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 5px;
}

.container6 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 5px;
}

.logo1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-color: rosybrown;
  background-image: linear-gradient(rosybrown, white);
}

audio {
  width: 300px;
  box-shadow: 5px 5px 20px;
  color: rosybrown;
  border-radius: 100px;
  transform: scale(0.9);
}

footer {
  background-color: rosybrown;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-transform: capitalize;
}

.redes i {
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: 10px;
  color: white;
}

.redes i:hover {
  color: #333;
}

.subir {
  position: fixed;
  right: 40px;
  bottom: 4px;
  background-color: #333;
  padding: 15px;
  color: white;
}

.title__galery {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: x-small;
}

.f-letter::first-letter {
  color: rosybrown;
  font-size: 45px;
}

.col {
  color: rosybrown;
  border-radius: 20%;
  transform: scale(0.9);
}

.container {
  background-color: rosybrown;
  padding: 10px;
}

@media (min-width: 1024px) {
  .formulario {
    height: auto;
    width: auto;
  }
}/*# sourceMappingURL=estilos.css.map */